/* Navbar container */
.category-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  /* background-color: #d43c3cc4; */
  margin: 10px;
  list-style-type: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;

  /* Kategoriler taşarsa, yatay kaydırma barı ekler */
}

/* Home button */
.home-button {
  background-color: transparent;
  border: 2px solid transparent;
  color: #121b25;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease;
  margin-right: 20px;
}



/* Ana kategori butonları */
.category-item button {
  background-color: transparent;
  border: 2px solid transparent;
  color: #121b25;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease;
  margin: 0 10px;
}

/* Ana kategori butonları hover */
.category-item button:hover {
  transform: translateY(-2px);
}

/* Active category button style */
.category-item button.active {
  background-color: #da4f4ff3;
  color: #fff;

}



/* Dropdown button */
.dropdown-button {
  background-color: transparent;
  color: #121b25;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid transparent;
  transition: all 0.3s ease;

}

/* Dropdown button hover */
.dropdown-button:hover {
  transform: translateY(-3px);
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 110px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: 20px;
  color: black;
  cursor: pointer;
}

/* Hover ile dropdown'u göster */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown item */
.dropdown-item {

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Dropdown item hover */
.dropdown-item:hover {
  background-color: #df3737;
  border-radius: 20px;
  color: black;
}

.hamburger-icon {
  display: none;
}

/* Mobile specific styles */
@media (max-width: 768px) {

  /* Kategoriler için responsive düzen */
  .category-navbar {
    flex-wrap: nowrap;
    /* Kategoriler tek satırda sıralansın */
    overflow-x: auto;
    /* Yatay kaydırma ekleyelim */
  }

  /* Category item buttonlar için responsive düzen */
  .category-item {
    white-space: nowrap;
    /* Her kategori butonu tek satırda olsun */
  }

  .category-item button {
    font-size: 14px;
    padding: 5px 5px;
    margin-right: 8px;
  }

  /* Home butonu küçük ekranlarda daha büyük padding */
  .home-button {
    font-size: 10px;
    padding: 10px 50px;
  }

  .dropdown-button {
    font-size: 16px;
    padding: 10px 20px;
    position: relative;
    /* Butonun bulunduğu yerde açılacak */
    z-index: 10;
    /* Butonun menüden üstte olmasını sağlar */
  }

  .dropdown-content {
    left: 0;
    margin-left: 65%;
    /* Sol tarafa hizalanmasını sağlar */
    right: auto;
    min-width: 120px;
    font-size: 16px;
    position: absolute;

    /* Butonun hemen altına gelecek şekilde hizalanır */
    z-index: 5;
    /* Menü, butondan altta olacak */
  }

}