/* Footer container */
.footer {
  background-color: #121B25;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  border-top-left-radius: 50px;
  /* Sol üst köşe yuvarlama */
  border-top-right-radius: 50px;
  /* Sağ üst köşe yuvarlama */
  overflow: hidden;
  /* Yuvarlama işlemi kenarların dışına taşmasın diye overflow hidden */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
  /* Gölge efekti */
  transition: all 0.3s ease;
  /* Geçiş efekti ekleniyor */
}

/* Hover efekti */
.footer:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  /* Hover durumunda gölgeyi artır */
  background-color: #1a2531;
  /* Hover durumunda arka plan rengini değiştir */
}

/* Footer content container */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Links section */
.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-right: 15px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f39c12;
}

/* Social icons section */
.footer-social a {
  color: #fff;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #f39c12;
}

.footer-social svg {
  display: inline-block;
  vertical-align: middle;
}

/* Footer bottom section */
.footer-bottom p {
  font-size: 14px;
  margin-top: 20px;
  color: #aaa;
}

.footer-bottom p a {
  color: #f39c12;
  text-decoration: none;
}

.footer-bottom p a:hover {
  text-decoration: underline;
}

/* Media Queries for responsiveness */

/* Mobil Cihazlar */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links li {
    display: block;
    margin-bottom: 10px;
  }

  .footer-links a {
    font-size: 16px;
  }

  .footer-social {
    margin-top: 20px;
  }

  .footer-social a {
    font-size: 20px;
    margin: 0 15px;
  }

  .footer-bottom p {
    font-size: 16px;
  }
}

/* Tablet Boyutları */
@media (max-width: 1024px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links li {
    display: block;
    margin-bottom: 10px;
  }

  .footer-social a {
    font-size: 18px;
  }

  .footer-bottom p {
    font-size: 15px;
  }
}

/* Masaüstü için */
@media (min-width: 1025px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-links li {
    display: inline;
    margin-right: 15px;
  }

  .footer-social a {
    margin: 0 10px;
  }
}
