.logo {
  display: flex;
  align-items: center;
  font-size: 1cqw;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  gap: 10px;

}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.logo-text {
  color: #ff4500;
  /* Kırmızı ton */

}

.header-bar {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 350px;
  background-color: #121B25;
  color: white;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.9);
  position: relative;


  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  gap: 10px;

}

.logo-icon {
  font-size: 18px;
}

.logo-text {
  color: white;

}

.header-links {
  display: flex;
  gap: 30px;

}

.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;

  position: relative;
  transition: color 0.3s ease-in-out;
}

.header-link:hover {
  color: #000;
}

.header-icon {
  font-size: 22px;
  margin-right: 8px;
}

.header-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;

  transition: width 0.3s ease-in-out;
}

.header-link:hover::after {
  width: 100%;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.header-link:hover {
  color: #ff0000;
  background: rgba(255, 255, 255, 0.2);

  border-radius: 8px;
}

/* Genel olarak header iconlarına kırmızı renk verme */
.header-icon {
  color: red;
  /* Kırmızı renk */
}

/* Eğer sadece belirli iconları değiştirmek istiyorsanız */
.last-news-icon {
  color: red;
  /* Last News icon kırmızı */
}

.live-icon {
  color: red;
  /* Live icon kırmızı */
}


/* Responsive Design for Mobile */
@media (max-width: 768px) {

  /* Ekran küçüldüğünde header öğelerini alt alta yerleştirmeden, sadece hamburger menü için ayarlama */
  .header-bar {
    padding: 1px 30px;
    /* Daha küçük padding */
    justify-content: space-between;
    border-radius: 80px;
    margin-bottom: 10px;
  }

  .logo {
    font-size: 13px;
    gap: 1px;
  }

  .header-link {
    font-size: 15px;
  }

  .header-links {

    align-items: flex-start;
    gap: 13px;
    justify-content: space-between;
    margin-top: 5px;

  }




  .menu-item {
    padding: 10px 20px;
    text-align: left;
    font-size: 12px;
  }

  .menu-item:hover {
    background-color: #6c63ff;
  }
}