/* src/styles/NewsChart.css */

div {
  text-align: center;
  padding: 20px;
}

h2 {
  color: #f50909d5;
  font-size: 24px;
  margin-bottom: 20px;
}

canvas {
  width: 100% !important;
  height: 400px !important; /* Grafik yüksekliği */
  margin: 0 auto;
}
