.news-card {
  margin-top: 10px;
  display: block;
  text-decoration: none;
  background-color: #fff;
   border-radius: 20px 20px 0 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

}

.news-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;


}
.news-card h2 {
  font-size: 1rem;
  color: #000000;
  padding: 5px;
  display: inline-block;
  width: 95%;
}
.news-card p {
  color: #000000;
  padding: 0 20px 10px;
  font-size: 1rem;
}
.publish-hour {
  text-align: right;
  padding: 0 10px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000000;
}
.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.news-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.news-card-content {
  padding-top: 15px;
}
.news-card-content h2 {
  font-size: 1.25rem;
  color: #000000;
  margin: 10px 0;
}
.publish-hour {
  margin-top: 5px;
  font-size: 11px;
  color: #000000;
}
.category-news-grid {
  display: flex;
  flex-wrap: wrap;
   gap: 15x;
}

.news-card {
  margin-left: 20px;
  width: 22%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
   .news-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .news-card h2 {
    font-size: 1rem;
    color: #000000;
    padding: 1px;
    display: block;
    width: 100%;
    margin: 5px 0;
  }

  .news-card p {
    font-size: 0.9rem;
    color: #000000;
    padding: 0 10px;
    margin-top: 5px;
  }

  .publish-hour {
    font-size: 0.8rem;
    color: #8f2d2d;
    margin-top: 5px;
  }


}

@media (max-width: 480px) {
  .news-card img {
    height: 150px;
  }

  .news-card h2 {
    font-size: 0.9rem;
  }

  .news-card p {
    font-size: 0.8rem;
  }
}